body {
  background-color: hsl(214, 53%, 30%);
  font-family: sans-serif;
}

h1 {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
h2,a{
  color: white;
  font-size: 2rem;
}

p {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

p.intro {
  color: hsl(0, 0%, 100%);
}

summary {
  font-size: 4rem;
}

span.par {
  background-color: rgb(35, 155, 149);
}

span.impar {
  background-color: hsl(245, 67%, 31%);
}