body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color : hsl(0, 0%, 100%);
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

a{
    color:hsl(0, 0%, 100%);
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
}

h3 {
    color: white;
    font-size: 1.5rem;
}
